{% extends 'base.html' %}

{% block title %}
首页
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}"/>
{% endblock %}

{% block main%}
<ul>
    <li>
        <div class="avatar-group">
            <img src="{{ url_for('static',filename='images/python.png') }}">
        </div>
        <div class="question-group">
            <p class="question-title"><a href="#">hellworld</a></p>
            <p class="question-content">
                hellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworld
            </p>
            <div class="question-info">
                <span class="question-author">happy</span>
                <span class="question-time">12:21</span>
            </div>
        </div>
    </li>
    <li>
        <div class="avatar-group">
            <img src="{{ url_for('static',filename='images/python.png') }}">
        </div>
        <div class="question-group">
            <p class="question-title"><a href="#">hellworld</a></p>
            <p class="question-content">
                hellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworldhellworld
            </p>
            <div class="question-info">
                <span class="question-author">happy</span>
                <span class="question-time">12:21</span>
            </div>
        </div>
    </li>
</ul>
{% endblock %}